<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">TheBest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_article_index') }}">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_category_index') }}">Catégorie</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_tag_index') }}">Tag</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
      </li>
    </ul>
  </div>
</nav>